{% load staticfiles %}
{% load static %}

{% comment %}
  Bloques heredados de la plantilla base:
  ---------------------------------------
    {% block CSS %} {% endblock CSS %}
    {% block TOPJS %} {% endblock TOPJS %}
    {% block MENU %} {% endblock MENU %}
    {% block CONTENT %} {% endblock CONTENT %}
    {% block FOOTER %} {% endblock FOOTER %}
    {% block JS %} {% endblock JS %}
    {% block CSS %}{% endblock CSS %}

  Variables recibidas desde la vista:
  -----------------------------------
    FORM                (form) -- Modelo de formulatio para registro médico
{% endcomment %}

<!DOCTYPE html>
<!--[if lt IE 7]>     <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>        <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>        <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="es" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Martin Josemaría Vuelta Rojas">
    <title>ThAyllu | Registro de promotores de salud </title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/favicon.png' %}" />
    <link rel="stylesheet" media="all" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" media="all" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" media="all" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" media="all" href="{% static 'css/colors.css' %}" />
    <link rel="stylesheet" media="all" href="{% static 'css/override.css' %}" />
    <link rel="stylesheet" media="all" href="{% static 'css/extend.css' %}" />
    <link rel="stylesheet" media="all" href="{% static 'css/helpers.css' %}" />
    {% block CSS %}{% endblock CSS %}
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/modernizr.min.js' %}"></script>
    {% block TOPJS %}{% endblock TOPJS %}
  <head>
  <body class="grey lighten-5 grey-text text-darken-4">
    {% block MENU %}
      <header class="blue">
        <nav class="navbar blue s-mar-0">
          <div class="container smoth-resize">
            <h2 class="text-center Lobster grey-text text-lighten-5">ThAyllu</h2>
          </div>
        </nav>
      </header>
    {% endblock MENU %}
    {% block CONTENT %}
    {% endblock CONTENT %}
    {% block FOOTER %}
      <footer class="blue">
        <div class="container s-pad-5">
          <h5 class="grey-text text-lighten-5 text-center text100"><i class="fa fa-fw fa-copyright"></i><a href="http://www.onisan.la" target="_blank" class="grey-text text-lighten-5">Copyright Onisan</a></h5>
        </div>
      </footer>
    {% endblock FOOTER %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    {% block JS %}{% endblock JS %}
  </body>
</html>
